<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
    </head>
    <body>
        <div>
            <p>Author: <%= author %></p>
            <p>Editor: <%= editor %></p>
        </div>
        <%- _body -%>
    </body>
</html>
